PYMD_CUSTOMER_HOST=customer-a.dataflowxx.dpdns.org
PYMD_PUBLIC_BASE_URL=https://customer-a.dataflowxx.dpdns.org
PYMD_CORS_ALLOW_ORIGINS=https://customer-a.dataflowxx.dpdns.org,https://dataflowxx.dpdns.org
PYMD_DATA_DIR=./data
PYMD_TLS_CERT=/etc/caddy/certs/customer-a.dataflowxx.dpdns.org.crt
PYMD_TLS_KEY=/etc/caddy/certs/customer-a.dataflowxx.dpdns.org.key
